:host {
    .hljs {
      background: transparent !important;
    }
  }
  
  .agriModal, .agriModalLoading, .agriModalCorOTP, .agriModalCorOTPErr, .agriModalNetError, .registerFail, .registerSuccess {
    font-family: Poppins !important;
    border-radius: 0.25rem;
    z-index: 1050 !important;
    color: #ED7232;
  border: 1px solid #ED7232;
    padding: 0.5rem 1rem;
    .modal-body {
        padding-bottom: 0;
    }
    .modal-footer {
        padding-top: 0;
        border: none;
    }
    .modal-dialog {
        width: fit-content;
    }
    .okBtn {
        border: 0;
        background-color: #ED7232;
        color: white;
        width: fit-content;
        padding: 0.5rem 1rem;
        border-radius: 6px;
        outline: none; 
        float: right;
    }
  }
  