<div class="modal agriModalCorOTPErr" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <p>Server unreachable, please try again.</p>
        </div>
      </div>
    </div>
</div>

<div class="card card-custom gutter-b">
    <div class="card-header align-items-center">
        <h3>Contact</h3>
    </div>

    <div class="card-body">

        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <h3>VIJNANA BHARATI HEADQUARTERS</h3>
            <p>A-4 First Floor Gulmohar Park, New Delhi-110049
            </p>
            <table style="margin-top:30px;">
                <tr>
                    <td width="50">Tel</td>
                    <td> : <a href="tel:+91 11- 41040846">+91 11- 41040846</a></td>
                </tr>
                <!--<tr>
                    <td></td>
                    <td>: <a href="tel:+91-9811944078">+91-9811944078</a></td>
                </tr>-->
            </table>
            <br>
            <br>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d253.05389682997927!2d77.21543850833444!3d28.556585466191034!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390ce26af0535837%3A0x4807e06325411b9e!2sA-4%2C+Block+A%2C+Gulmohar+Park%2C+New+Delhi%2C+Delhi+110049!5e0!3m2!1sen!2sin!4v1547545676016" width="100%" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
            <!--<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3504.3226873614153!2d77.21084281508101!3d28.56007138244638!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390ce33ebb2e5e33%3A0xeee4757f71680b94!2sVijnana+Bharati+HQ!5e0!3m2!1sen!2sin!4v1546418261293" width="100%" height="300" frameborder="0" style="border:0" allowfullscreen></iframe><iframe style="margin-bottom:30px;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3504.0505151649386!2d77.22662631562169!3d28.568245782443267!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390ce25aa123e523%3A0x75fbc0675e194d32!2sVijnana+bharati+HQ!5e0!3m2!1sen!2sin!4v1497425348779" width="100%" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>-->
        </div>

    </div>
</div>